body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cambria;
  list-style: none;
  text-decoration: none;
}
nav{
  height: 50px;
  background-color: rgb(36, 44, 42);
  width: 100%;
  position: fixed;
  z-index: 5;
}
nav #icon{
 color: white;
 font-size: 2rem;
 position: relative;
 top: 3px;
 left: 40px;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0px 15px;
}
nav ul li a{
  position: relative;
  bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  padding: 5px 0;
  text-decoration: none;
  user-select: none;
}
nav ul li a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: red;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
label{
  display: block;
}

label #btn,
label #cancel{
  color: white;
  font-size: 30px;
  line-height: 80px;
  align-items: center;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  position: relative;
  bottom: 10px;
}
#check{
  display: none;
}
/* navbar */
/* header */
.container-header{
  background-color: black;
  height: 450px;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.header-text{
  margin-top: 10%;
  text-align: center;
  color: white;
}
.cv-form,
.about-para a,
.contact-para{
  width: 200px;
  height: 200px;
  background-color:rgb(67, 185, 118);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 rgb(202, 26, 26);
  transition: 2s ease-out;
  outline: none;
  margin: 10px;
  color: white;
}
.cv-form:hover{
  box-shadow: inset 300px 0 0 0 rgb(35, 80, 110);
  color: white;
}
.header-profile img{
  margin-top: 60px;
  width: 300px;
  height: 340px;
}
/* header */
  
 

  /* MY PROJECT  */
  .project-img {
    width: 70%;
    margin: auto;
    display: block;
  }
  .overlay {
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: green;
    overflow: hidden;
    width: 70%;
    height:0;
    margin: auto;
    display: block;
    transition: .5s ease;
  }
  .project-image-div:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

 

  

 /* footer */
 .section-footer{
  background-color: rgb(88, 245, 206);
  animation: mymove 10s infinite;
  color: white;
}
@keyframes mymove{
    0% {background-color: rgb(79, 180, 79);}
    50% {background-color: rgb(164, 182, 65);}
    100% {background-color: rgb(68, 56, 112);}
}
.container-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-me p{
    font-size: 1rem;
    font-weight: bold;
}
.footer-portfolio a{
    text-decoration: none;
    font-weight: bold;
    padding-top: 70px;
}
.town{
    position: relative;
    left: 44px;
}
.footer-location i,
.logo-1 i,
.logo-2 i{
    width: 10px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    user-select: none;
    font-weight: bold;
    font-size: 1.1rem;
}
.social{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    user-select: none;
}
.logo-1{
    margin-top: 20px;
}
.logo-2{
    margin-top: 40px;
}
.container-sign{
    margin-top: 20px;
    border-top: 2px solid green;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-image img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid gainsboro;
    position: relative;
    bottom: 40px;
}
.sign p,
.team-service{
    margin-top: 30px;
    color: white;
}
.footer-text{
    font-size: 1rem;
    font-weight: bold;
    color: red;
}
.present-text{
    position: relative;
    left: 50px;
}
.click{
    float: right;
    margin-bottom: 50px;
}
.click a{
    width: 40px;
    height: 60px;
    padding: 30px;
    /* background-color: green; */
}
.click i{
    /* text-align: center; */
    font-size: 1.8rem;
    color: black;
    position: relative;
    right: 15px;
    top: 5px;   
    
}
 /* POST PAGE  */
 .post {
  padding: 20px;
}
.siderbar {
  padding: 20px;
}
.siderbar input[type="text"] {
  border-radius: 5px 0px 0px 5px;
}
.siderbar button {
  border-radius: 0px 5px 5px 0px;
}
.post-details {
  padding: 30px;
}
.like {}
.comment-box{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  font-size: 15px;
}











/* navbar */
@media(max-width:860px){
  nav{
      height: 80px;
      background-color: rgb(36, 44, 42);
  }
  nav #icon{
      top: 20px;
  }
  #check{
      display: none;
  }
  label #btn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background:  rgb(36, 44, 42);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  label #btn,
  label #cancel{
      top: 25px;
  }
  #check:checked ~ ul{
      left: 0;
  }
  #check:checked ~ label #btn{
      display: none;
      float: right;
  }
  #check:checked ~ label #cancel{
      display: block;
  }
  .team-service{
      display: none;
  }
  .header-text{
      margin-top: 20%;
       width: 100%;
  }

}
@media (max-width:900px){
  .container-header{
      width: 100%;
  }
  .header-text{
      margin-top: 20%;
       width: 100%;
  }
  .header-profile img{
      width: 100%;
      display: none;
  }
  .container-sign{
      width: 100%;
  }
}
@media (max-width:756px) {
  .container-fluid{
      flex-wrap: wrap;
      width: 100%;
  }
  .about-image img{
      width: 100%;
      text-align: center;
  }
}
@media (max-width:400px) {
  .header-text{
      margin-top: 40%;
       width: 100%;
}
}

@media (max-width: 770px) {
  #headerImg { 
    width: 60%;
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}